body {
  /* https://baymard.com/blog/line-length-readability should be 50-70 chars per line */
  /* 
    Better to size body with chars than pixels so UI scales with browser font size:
    chrome://settings/?search=font+size
   */
  width: 48ch;

  cursor: default;
}

hr {
  margin: 0;
  opacity: 0.25;
  height: 0px;
  border: none;
  border-top: 1px solid;
}

button {
  text-align: start;
  padding: 0.5em;
}

.tbd {
  opacity: 0.5;
  pointer-events: none;
  position: relative;
  /* display: none; */ /* remove this to show construction */
}
.tbd::after {
  position: absolute;
  font-size: 2em;
  content: "🚧";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

a:any-link {
  color: currentColor;
}

[disabled] {
  opacity: 0.3;
  pointer-events: none;
}